* {
    padding: 0;
    margin: 0;
}

.encabezado {
    background-image: linear-gradient(120deg, rgba(74, 72, 0, 0.523),
            rgba(72, 91, 73, 0.8)),
        url("code-1076536_960_720.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* position: relative; */
    overflow: hidden;
}

.nav{
    list-style-type: none;
    background-color: black;
    width: 100%;
    position: fixed;
}
.nav li{
    float: left;
}
.nav li a{
    color:rgb(255, 246, 113);
    text-decoration: none;
    padding: 20px 16px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}
.nav li a:hover{
    background-color: white;
    color: black;
}